@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  font-style: normal;
}

.desktop1920{
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  height: 4600px;
  background: #0B1D26;
  background-size: 100%;
  box-shadow: 0px 0px 100px 0px #00000033;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  background-image: url(../img/BG\ 1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

.header{
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 0;
  justify-content: space-between;
  margin-top: 64px;
  height: 37px;
}

.header_btn{
  text-decoration: 0;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;

}

.nav_menu{
  display: flex;
  justify-content: space-between;
  width: 300px;
  flex-wrap: wrap;
  align-content: center;
  
}

.logo{
  display: flex;
  width: 113px;
  height: 37px;
}

.acc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  font-size: 17px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  height: 419px;
  margin-left: 500px;
  gap: 32px;

  top: 287px;
}

.rectangle{
  margin-right: 30px;
  margin-bottom: 5px;
}

.group17{
  width: 323px;
  height: 27px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 6px;
  text-align: left;
  color: #FBD784;
}

.cont{
  display: flex;
  width: 950px;
  height: 300px;
  gap: 0px;
  font-family: Playfair Display;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  text-align: left;
  color: white;
}

.group7{
  display: flex;
  width: 132px;
  height: 27px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color:white;
}

.down{
  width: 16px;
  height: 24px;
  padding-left: 5px;
}

.social{
  display: flex;
  flex-wrap: wrap;
  width: 27px;
  height: 173px;
  top: 359px;
  left: 77px;
  position: absolute;
}

.s_text{
  display: flex;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  writing-mode: vertical-rl;
}

.insta{
  width: 24px;
  height: 24px;
  top: 460px;
  left: 80px;
  padding: 2px;
}

.twitter{
  width: 24px;
  height: 24px;
  top: 508px;
  left: 80px;
  padding: 4px 1.54px 3px 1.54px;
}

.slider{
  display: flex;
  position: absolute;
  width: 77px;
  height: 244px;
  top: 326px;
  left: 1763px;

}

.slider_text{
  display: flex;
  width: 46px;
  height: 228px;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  margin-right: 35px;
  line-height: 70px;
  text-align: right;
  margin-top: -11px;
}

.slider_picture{
  display: flex;
  width: 3px;
  height: 240px;
  top: 326px;
  left: 1837px;
}

.BG_content{
  display: flex;
  position: relative;
  width: 1920px;
  height: 700px;
  top: 1200px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}


.content2{
  display: grid;
  position: absolute;
  width: 1478px;
  height: 3040px;
  top: 1440px;
  left: 229px;
  justify-content: space-between;
  margin: 0;
}

.c_01{
  display: flex;
  position: relative;
  width: 1462px;
  height: 720px;
}

.eg_01{
  display: flex;
  position: absolute;
  width: 302px;
  height: 240px;
  top: 38px;
  opacity: 10%;
  font-family: Poppins;
  font-size: 240px;
  font-weight: 700;
  line-height: 240px;
  text-align: left;
  color:white;
}

.picture_01{
  display: flex;
  position: absolute;
  width: 566px;
  height: 720px;
  left: 896px;
}

.cont_01{
  display: grid;
  position: relative;
  width:632px;
  height: 465px;
  top: 190px;
  left: 134px;
  gap: 27px;
}

.what_level{
  display: flex;
  width: 555px;
  height: 170px;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 600;
  line-height: 85.31px;
  color:white;
}

.determ_text{
  display: flex;
  width: 632px;
  height: 160px;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.more_01{
  display: flex;
  width: 137px;
  height: 27px;
  
}

.pic_more{
  display: flex;
  position: absolute;
  left: 103px;
  margin-top: 3px;
}

.t_more_01{
  display: flex;
  width: 97px;
  height: 27px;
  top: 438px;
  color: #FBD784;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.picture_02{
  display: flex;
  position: absolute;
  width: 566px;
  height: 720px;
}

.eg_02{
  display: flex;
  position: absolute;
  width: 294px;
  height: 240px;
  top: 38px;
  left: 680px;
  opacity: 10%;
  font-family: Poppins;
  font-size: 240px;
  font-weight: 700;
  line-height: 240px;
  color:white;
  text-align: left;
}

.cont_02{
  display: grid;
  position: relative;
  width: 632px;
  height: 519px;
  top: 200px;
  left: 830px;
  gap: 27px;
}

.picking_the{
  display: flex;
  width: 555px;
  height: 192px;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
  color:white;
}

.thenice_text{
  display: flex;
  width: 632px;
  height: 192px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color:white;
}

.picture_03{
  display: flex;
  position: absolute;
  width: 566px;
  height: 720px;
  left: 896px;
}

.eg_03{
  display: flex;
  position: absolute;
  width: 302px;
  height: 240px;
  top: 38px;
  opacity: 10%;
  font-family: Poppins;
  font-size: 240px;
  font-weight: 700;
  line-height: 240px;
  color:white;
  text-align: left;
}

.cont_03{
  display: grid;
  position: relative;
  width: 632px;
  height: 487px;
  top: 179px;
  left: 134px;
  gap: 27px;  
  border: 1px solid red;
}

.tagline_03{
  display: flex;
  width: 464px;
  height: 27px;
  justify-content: space-between;
}

.tag_03{
  display: flex;
  position: absolute;
  width: 72px;
  height: 2px;
  top: 10px;
}

.t_03{
  display: flex;
  position: absolute;
  width: 378px;
  height: 27px;
  left: 96px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 6px;
  text-align: left;
  color: #FBD784;
}

.understand{
  display: flex;
  width: 555px;
  height: 192px;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
  text-align: left;
  color:white;
}

.to_start{
  display: flex;
  width: 632px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color:white;
}

.footer{
  display: flex;
  position: relative;
  width: 1478px;
  height: 280px;
  justify-content: space-between;
}

.cop{
  display: flex;
  position: absolute;
  width: 376px;
  height: 32px;
  bottom: 0;
  left: 6.06px;
  opacity: 50%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color:white;
}

.f_text{
  display: flex;
  position: absolute;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  width: 365px;
  color: white;
  top: 62px;
}

.f_logo{
  width: 106px;
  height: 43px;
  top: 2760px;
}

.f_t_logo{
  width: 24px;
  height: 43px;
  top: 2760px;
  left: 82px;
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.66px;
  letter-spacing: 0.01em;
  text-align: left;
  color:white;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  text-decoration: none;
}

li>a{
  text-decoration: none;
}

.link{
  display: flex;
  position: absolute;
  width: 209px;
  height: 280px;
  left: 896px;
}

.link_1{
  width: 209px;
  height: 32px;
  display: flex;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #FBD784;
  margin-bottom: 24px;
}

.link_2{
  display: flex;
  margin-top: 16px;
  height: 32px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color:white;
}

.link2{
  display: flex;
  position: absolute;
  width: 177px;
  height: 184px;
  left: 1301px;
}