@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  width: 1920px;
  height: 4600px;
  margin: 0;
  padding: 0;
}

.desktop1920{
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  height: 4600px;
  background: #0B1D26;
  background-size: 100%;
  box-shadow: 0px 0px 100px 0px #00000033;
  margin: 0;
  padding: 0;
}

.content1{
  display: flex;
  position: relative;
  background-image: url(/img/BG\ 1.png);
  height: 1900px;
  width: 1920px;
  background-repeat: no-repeat;
}


div>a{
  text-decoration: 0;
  color: white;
}

header{
  display: flex;
  position: relative;
  width: 1760px;
  height: 37px;
  top: 64px;
  left: 91px;
}

.header{
  display: flex;
  position: relative;
  width: 1760px;
  height: 37px;
}

.h-logo{
  display: flex;
  width: 113px;
  height: 37px;
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.66px;
  letter-spacing: 0.01em;
}

.h_eg{
  display: flex;
  width: 102px;
  height: 27px;
  margin-top: 2px;
  margin-left: 739px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.h_about{
  display: flex;
  width: 100px;
  height: 27px;
  margin-top: 2px;
  margin-left: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;  
}

.h_blog{
  display: flex;
  width: 50px;
  height: 27px;
  margin-top: 2px;
  margin-left: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px; 
}

.h_account{
  display: flex;
  height: 26px;
  width: 105px;
  margin-left: auto;
  margin-top: 3px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 25.5px;
}
.acc{
  margin-left: 3px;
  margin-top: 1px;
}

.cart{
  width: 24px;
  height: 24px;
}

.content{
  display: grid;
  position: relative;
  width: 950px;
  height: 419px;
  margin-left: 500px;
  gap: 32px;
  margin-top: 287px;
}

.rectangle{
  margin-right: 30px;
  margin-bottom: 5px;
}

.group17{
  width: 323px;
  height: 27px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 6px;
  text-align: left;
  color: #FBD784;
}

.cont{
  display: flex;
  width: 950px;
  height: 300px;
  gap: 0px;
  font-family: Playfair Display;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  text-align: left;
  color: white;
}

.group7{
  display: flex;
  width: 132px;
  height: 27px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color:white;
}

.down{
  width: 16px;
  height: 24px;
  padding-left: 5px;
}

.social{
  display: grid;
  position: relative;
  width: 27px;
  height: 173px;
  top: 359px;
  left: 77px;
}

.s_text{
  display: flex;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  writing-mode: vertical-rl;
}

.insta{
  width: 24px;
  height: 24px;
  top: 460px;
  left: 80px;
  padding: 2px;
}

.twitter{
  width: 24px;
  height: 24px;
  top: 508px;
  left: 80px;
  padding: 4px 1.54px 3px 1.54px;
}

.slider{
  display: flex;
  position: relative;
  width: 77px;
  height: 244px;
  top: 326px;
  left: 1763px;

}

.slider_text{
  display: flex;
  width: 46px;
  height: 228px;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  margin-right: 35px;
  line-height: 70px;
  text-align: right;
  margin-top: -11px;
}

.slider_picture{
  display: flex;
  width: 3px;
  height: 240px;
  top: 326px;
  left: 1837px;
}

.BG_content{
  display: flex;
  position: relative;
  width: 1920px;
  height: 700px;
  top: 1200px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
};


.content_2{
  display: flex;
  position: absolute;
  width: 1,478px;
  height: 3,040px;
  top: 1440px;
  left: 229px;
  gap: 200px;
}

.c_01{
  display: flex;
  position: absolute;
  width: 1462px;
  height: 720px;
  
}